* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	min-width: 800px;
	height: 100%;
	font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
.datagrid-view1,
.datagrid-view1 .datagrid-header,
.datagrid-view1 .datagrid-header-rownumber,
.datagrid-view1 .datagrid-cell-rownumber{
	width: auto !important;
}
.datagrid-view1 .datagrid-body,
.datagrid-view1 .datagrid-footer{
	padding-left: 5px !important;
	width: auto !important;
}
.balance-record {
	width: 100%;
	height: 100%;
}
#toolbar .textbox {
  border-radius: 4px;
  margin-top: -3px;
}
.balance-header {
	height: 40px;
	line-height: 40px;
	padding-bottom: 10px;
	font-size: 14px;
	color: #000000;
}

.balance-code {
	position: relative;
	height: 40px;
	padding: 8px 10px;
	background: #373737;
	border-radius: 5px 5px 0 0;
}

.balance-code>img {
	position: absolute;
	height: 30px;
	top: 13px;
	left: 16px;
}

#balanceCode {
	font-size: 14px;
    line-height: 40px;

    width: 250px;
    height: 40px;
    padding: 0 0 0 40px;

    color: #000;
    border: 0;
    background: #fff;
}

.balance-search {
	float: right;
	vertical-align: middle;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
}

#balanceSearch {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 30px;
	border: 0px;
	border-radius: 5px;
	padding-left: 10px;
}

#balanceSearchSubmit {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #363636;
	background: #FED430;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 14px;
}

#balanceSearchSubmit:hover {
	background: #DFBA29;
}

.balance-kind {
	float: right;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
}

.balance-kind a {
	display: inline-block;
	padding: 0px 10px;
	color: #FFFFFF;
	border-right: 1px solid #1F1F1F;
}

.balance-kind a:hover,
a.action {
	color: #FED430;
}

#balanceAll {
	border-right: 0px;
}

.balance-control {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.balance-control a {
	display: inline-block;
	margin: 0 10px;
	padding: 0 3px;
	/*color: #000000;*/
}

.balance-control a:hover {
	/*border-bottom: 1px solid #000000;*/
	color: #666666;
}

#dlgSubmit {
	width: 200px;
	padding: 10px 20px;
	font-size: 14px;
}

#dlgChange {
	padding: 10px 20px;
	font-size: 14px;
}

#inputBalance {
	padding: 5px;
	outline: none;
	margin-left: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.dlg-item {
	/*height: 30px;
	line-height: 30px;*/
	padding: 8px 0;
}

.dlg-item span {
	display: inline-block;
	vertical-align: top;
	width: 80px;
}

.dlg-item i{
	display: inline-block;
}

.dlg-button {
	text-align: center;
	padding: 10px 0 0 0;
}

.dlg-button a {
	padding: 0 10px;
	background: #3fc370;
	width: 80px;
	border-radius: 3px;
}

.dlg-button a span {
	color: white;
}

.balance-search .datebox{
	display:inline-block;
	vertical-align: middle;
	width:100px;
	height:32px;
	line-height:29px;
	padding-left: 5px;
	font-size:14px;
	color:#666666;
	margin-left:10px;
	margin-bottom:1px;
	background-color:#fff;
	border-width:0px;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius:5px; /* Safari 鍜� Chrome */
 	border-radius: 5px; /* Opera 10.5+, 浠ュ強浣跨敤浜咺E-CSS3鐨処E娴忚鍣� */
}
.balance-search .textbox .textbox-text{
	margin-bottom:3px;
}
.showTable{
	width: 100%;
	/*margin:88px 0px 0px;*/
	position:absolute;
	top:106px;
	left:0px;
	bottom: 0px;
}
.clientSearch{
	display: inline-block;
	vertical-align: top;
	width:auto;
	height:30px;
	/*float:right;*/
}
.sendMessage{
	/*width:100px;*/
	height:20px;
	line-height:20px;
	font-size:14px;
	padding:5px;
	margin: 0 5px;
	border-radius: 5px;
	float:right;
	cursor:pointer;
}

.sendMessage:hover{
	background: #2C2C2C;
}

.sendMessage:active{
	background: #222222;
}
img.sendImg{
	position: relative;
	height: 16px;
    vertical-align: text-bottom;
}